./backend/__pycache__
./backend/.env
./backend/logs/
./backend/db/
./backend/example_body.py
.idea/
./backend/venv/
client/.env
.env
shareTripChatApp/.env
shareTripChatApp/db
shareTripChatApp/node_modules
*/__pycache__*